/*
@author Ronan Delacroix
*/

body, table {  margin:0; font-family: sans-serif;}
table { color: inherit; border-spacing : 0; border-collapse : collapse; }
a:visited { color: inherit; }

body {
    background: #EEE;
    background-image: url('/static/img/debut-light.png');
    color: rgb(76, 104, 134);
}

.hidden { display: none !important; }

#header {
    padding: 10px 40px;
    font-weight: lighter;
    font-size: 1.5em;
    background: rgb(255,255,255);
    box-shadow: rgba(100,100,100, 0.4) 0px 5px 15px 0px, rgba(0,0,0, 0.3) 0px 2px 4px 0px;
    border-bottom: 15px solid rgb(114,150,187);
    position: fixed;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    line-height: 40px;
}

#header a {
    text-decoration: none;
}

#header #logo {
    display: none;
    /*display: inline-block;*/
    background-image: url("/static/img/kontron_logo.png");
    background-size: 225px 46px;
    width: 225px;
    height: 46px;
    margin-right: 20px;
    vertical-align: -12px;
}

#header #sponsored {
    display: block;
    position: absolute;
    font-size: 0.5em;
    font-weight: bold;
    right: 20px;
    top: 30px;

}

#container {
    padding: 75px 20px 10px 20px;
}

label {
    font-weight: bold;
}

td, th {
}

#wallet {
    text-align: center;
}

.section {
    background: rgba(250, 250, 250, 1);
    padding: 30px 20px 15px 20px;
    border-radius: 10px;
    border: 1px solid rgba(150, 150, 150, 0.3);
    position: relative;
    margin: 20px 0px 0px 0px;
    box-shadow: rgba(100,100,100, 0.3) 0px 4px 15px -2px, rgba(0,0,0, 0.2) 0px 1px 10px -2px;
    border-top: 10px solid rgb(114,150,187);
    box-sizing: border-box;
}

.section.half {
    width: 49%;
    display: inline-block;
}

.section h2 {
    display: block;
    position: absolute;
    top: -30px;
    left: 20px;
    background: rgba(255,255,255,0.8);
    padding: 1px 15px;
    color: rgb(76, 104, 134);
}

#stats {
    text-align: center;
}

#stats .stat {
    display: inline-block;
    padding: 10px;
    background: #EEE;
    margin: 5px;
    text-align: center;
    width: 180px;
    box-shadow: inset rgba(0, 0, 0, 0.5) 2px 2px 8px -2px;
    /* border-top: 10px solid rgb(114,150,187); */
}

#stats .stat label {
    font-weight: bold;
}

#stats .stat > label, .stat > span {
    display: block;
}

#stats .stat span.big {
    font-size: 1.3em;
    font-weight: bolder;
}

#stats .stat span.little {
    font-size: 0.7em;
    font-weight: lighter;
}

#transactions table {
    margin: 0 auto;
    width: 100%;
    border-spacing: 8px 4px;
    border-collapse: separate;
}


#transactions table td, #transactions table th {
    padding: 4px 15px;
    /*border: 1px solid grey;*/
    text-align: left;
    box-shadow:  rgba(0, 0, 0, 0.5) 2px 2px 8px -2px;
    border-radius: 0px;
    background: #FFFFFF;
}

#transactions_graph {
    max-height: 400px;
}

#stats div > span {
    font-weight: bold;
}

.overflowy {
    background: #F1F1F1;
    padding: 5px 5px;
    box-shadow: inset rgba(0, 0, 0, 0.5) 2px 2px 8px -2px;
    max-height: 200px;
    overflow: scroll;
    /*height: 200px;*/
}

.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.graph {
    height: 500px;
    max-height: 500px;
    display: inline-block;
}

.graph.main {
    width: 100%;
}

.graph.half {
    height: 300px;
    width: 48%;
}

span.up {
    color:darkgreen;
}
span.down {
    color:darkred;
}

#stats .stat.total {
    background-color: rgba(183, 219, 251, 0.25);
}
#stats .stat.rate {
    background-color: rgba(255, 216, 130, 0.41);
}
#stats .stat.price {
    background-color: rgba(212, 251, 183, 0.38);
}
#stats .stat.balance {
    background-color: rgba(219, 183, 251, 0.26);
}
#stats .stat.pending {
    background-color: rgba(183, 251, 235, 0.32);
}